{%- if is_post -%}
<article itemscope itemtype="http://schema.org/Article">
{%- else -%}
<article>
{%- endif -%}
  {% if page.data.has_image -%}
  <figure class="post_hero">
    <img itemprop="image" src="{{page_image_url}}" alt="{{page.data.image_alt | escape}}" />
    <figcaption>{{page.data.image_alt | escape}}</figcaption>
  </figure>
  {%- endif %}
  <h2 itemprop="headline" class="post_title">{{ page.title }}</h2>
  {% if is_post -%}{% include "published_at.liquid" %}{%- endif %}
  {{ page.content }}
  {% if is_post -%}
  <div class="meta">
    <link itemprop="url" href="{{canonical_url}}" />
    <link itemprop="mainEntityOfPage" href="{{canonical_url}}" />
    <div itemprop="publisher author" itemscope itemtype="http://schema.org/Person">
      <meta itemprop="name" content="{{site.data.author}}">
    </div>
  </div>
  {%- endif %}
</article>