&copy; 2018 markentier.tech / Christoph Grabo |
 <a href="/{{collections.posts.rss}}" rel="alternate" type="application/rss+xml" title="RSS Feed for {{site.title}}">rss</a>,
 <a href="/{{collections.posts.jsonfeed}}" rel="alternate" type="application/json" title="JSON Feed for {{site.title}}">jsonfeed</a> |
 <a href="//status.markentier.tech/" rel="external" title="Status page for {{site.title}} (provided by updown.io)">status</a> |
 <a href="https://github.com/markentier/markentier.tech" rel="external" title="Source code for {{site.title}}">source</a>
