<meta charset="utf-8">
<title>{{page.title}} | {{site.title}}</title>
<meta name="description" content="{{site.description}}">
<meta name="keywords" content="{{keywords}}">
<meta name="author" content="{{site.data.author}} ({{site.data.author_nick}})">
<link rel="author" href="/humans.txt" />
<link rel="author" href="https://plus.google.com/116780993927713078767?rel=author" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% comment %} <link rel="dns-prefetch" href="https://..." /> {% endcomment %}
<link rel="stylesheet subresource" href="/style/mtt.css?v=1" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="icon" href="/assets/m-128.png" type="image/png" />
{%- if is_post %}{% include 'head.posts.liquid' %}{% endif -%}
{% include 'head.tracking.liquid' %}
{% if page_type == 'index' or page_type == 'error' %}{% for page in collections.posts.pages limit: 2 %}
{%- assign canonical_page_url = site.base_url | append: "/" | append: page.permalink -%}
<link rel="prefetch prerender" href="{{canonical_page_url}}" />
{% endfor %}{% endif %}
<link rel="alternate" type="application/rss+xml" title="RSS Feed for {{site.title}}" href="/{{collections.posts.rss}}" />
<link rel="alternate" type="application/json" title="JSON Feed for {{site.title}}" href="/{{collections.posts.jsonfeed}}" />
